html, body {
  text-align: center;
  font-family: 'Roboto', Verdana, sans-serif;
  color: #f4f4f4;
  background-color: #252525;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

h1, h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
}

.link {
  color:#f4f4f4;
}

#name {
  margin: auto;
  padding: auto;
}

#get-in-touch {
  padding-top: 10px;
}

.top-container {
  margin: auto;
}

.middle-container {
  margin: auto;
  height: auto;
}

.bottom-container {
  background-color: #414141;
}

.dragon-logo {
  max-width: 40%;
  width: auto;
  height: auto;
  margin: 0px 0px -20px 0px;
  position: relative;
  left: 8px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.inline-image-container {
  margin-left: 25px;
}

.left-floating-image {
  max-width: 150px;
  width: auto;
  height: auto;
}

.right-floating-text {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.title-frame {
  border-width: 0px;
  height: 1px;
  width: 40%;
  background-color: #f4f4f4;
}

#greeting {
  margin: 10px 0px 10px 0px;
  font-size: 48px;
  font-family: 'Italianno', cursive;
}

.welcome {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 3px;
}

.section-hr {
  margin-top: 20px;
  border-width: 0px;
  height: 2px;
  width: 70%;
  background-color: #af0404;
}

footer {
  height: 100%;
  background-color: #414141;
}

.footer-link {
  color:#ff0000;
}

#my-title {
  margin-top: 0;
}

#copyright-notice {
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.footer-link-icon {
  max-width: 25px;
  margin-left: 5px;
}

#credit-notice {
  font-size: 10px;
  margin: 0 0 0 0;
  padding-bottom: 10px;
}

#credits {
  text-align: left;
}
